<div class="container my-5" id="dangers">
    <div class="row text-center my-5">
        <div class="col-12">
            <h2 class="display-4 mb-4 text-danger">Information Cruciale sur les Drogues</h2>
            <h4 class="h5 mb-4 text-danger">Attention : L'Abus de Drogues est Dangereux</h4>
            <p class="lead mb-4">
                L'<span class="text-danger">abus</span> de drogues peut avoir des conséquences graves, tant sur la santé <span class="text-danger">physique</span> que <span class="text-danger">mentale</span>. Si vous vous sentez attiré par ces substances, il est crucial de prendre du recul et de réfléchir aux raisons qui vous poussent à le faire. Ne jamais consommer de drogues seul, car cela peut intensifier les effets négatifs et augmenter les risques de mauvaise santé. Si vous ou quelqu'un que vous connaissez éprouvez des problèmes d'<span class="text-danger">addiction</span>, il est essentiel de consulter un professionnel de la santé ou de se faire accompagner par des proches. N'oubliez pas que la consommation de drogues doit toujours se faire dans un cadre sécurisant et bienveillant. Votre bien-être <span class="text-danger">physique</span> et <span class="text-danger">mental</span> doit être la priorité.
            </p>
            <h4 class="h5 mb-4 text-danger">Un Site d'Information, Pas d'Incitation</h4>
            <p class="lead mb-4">
                Ce site a pour objectif de fournir des informations sur les drogues et leurs effets, sans inciter à leur consommation. Il est essentiel de comprendre ce que l'on consomme et d'agir de manière <span class="text-danger">responsable</span>. L'ignorance peut mener à des choix irresponsables. Si vous êtes confronté à des problèmes liés à la consommation de drogues, rappelez-vous qu'il existe des <span class="text-danger">ressources</span> et des professionnels prêts à vous <span class="text-danger">aider</span>.
            </p>
        </div>
    </div>
    
    <div class="row text-center mb-5">
        <div class="col-12">
            <h4 class="h5 mb-4 text-danger">Ressources Utiles pour l'Aide</h4>
            <ul class="list-group">
                <li class="list-group-item mb-2">
                    <a href="https://sos-addictions.fr" class="drug-link">SOS Addictions</a>
                </li>
                <li class="list-group-item mb-2">
                    <a href="https://sante.gouv.fr" class="drug-link">CSAPA</a>
                </li>
                <li class="list-group-item mb-2">
                    <a href="https://addictaide.fr" class="drug-link">Addict'Aide</a>
                </li>
                <li class="list-group-item mb-2">
                    <a href="https://drugpolicy.org" class="drug-link">Drug Policy Alliance</a>
                </li>
                <li class="list-group-item mb-2">
                    <a href="https://drugabuse.gov" class="drug-link">NIDA</a>
                </li>
                <li class="list-group-item mb-2">
                    <a href="https://ecoute-addictions.fr" class="drug-link">Soutien et Écoute</a>
                </li>
            </ul>
        </div>
    </div>
</div>




