.footer {
    background-color: #343a40; /* Couleur de fond sombre */
    padding: 20px 0; /* Espacement vertical */
}

.footer a {
    transition: color 0.3s;
    text-decoration: none; /* Pas de soulignement */
}

.footer a:hover {
    color: #ffc107; /* Couleur au survol */
}

.footer ul {
    padding: 0; /* Pas de padding pour la liste */
}

.footer li {
    list-style: none; /* Pas de puces */
}

/* Styles pour la responsivité */
@media (max-width: 768px) {
    .footer ul {
        flex-direction: column; /* Colonne pour les petits écrans */
        align-items: center; /* Centrer les éléments */
    }
    
    .footer li {
        margin-bottom: 10px; /* Espacement entre les éléments */
    }
}

