<footer class="footer text-center text-white bg-dark py-4">
    <div class="container">
        <p>&copy; 2024 Druggy.com. Tous droits réservés.</p>
        <ul class="list-unstyled d-flex justify-content-center flex-wrap">
            <li class="mx-3"><a href="#drogues" class="text-white">Informations sur les Drogues</a></li>
            <li class="mx-3"><a href="#dangers" class="text-white">Dangers des Drogues</a></li>
            <li class="mx-3"><a href="#ressources" class="text-white">Ressources Utiles</a></li>
            <li class="mx-3"><a href="#contact" class="text-white">Nous Contacter</a></li>
        </ul>
    </div>
</footer>
