<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="carousel slide shadow-lg" data-bs-ride="carousel" id="diapo1">
                <div class="carousel-inner rounded">
                    <div class="carousel-item active">
                        <img src="https://images.pexels.com/photos/7773108/pexels-photo-7773108.jpeg?auto=compress&cs=tinysrgb&w=600"
                            class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.pexels.com/photos/7773108/pexels-photo-7773108.jpeg?auto=compress&cs=tinysrgb&w=600"
                            class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.pexels.com/photos/7230269/pexels-photo-7230269.jpeg?auto=compress&cs=tinysrgb&w=600"
                            class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" data-bs-target="#diapo1" type="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" data-bs-target="#diapo1" type="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="carousel slide shadow-lg" data-bs-ride="carousel" id="diapo2">
                <div class="carousel-inner rounded">
                    <div class="carousel-item active">
                        <img src="https://images.pexels.com/photos/7773108/pexels-photo-7773108.jpeg?auto=compress&cs=tinysrgb&w=600"
                            class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.pexels.com/photos/7773108/pexels-photo-7773108.jpeg?auto=compress&cs=tinysrgb&w=600"
                            class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.pexels.com/photos/7230269/pexels-photo-7230269.jpeg?auto=compress&cs=tinysrgb&w=600"
                            class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" data-bs-target="#diapo2" type="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" data-bs-target="#diapo2" type="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>