<div class="container" id="drogues">
    <div class="row">
        <div class="container my-5">
            <div class="row">
                <div class="col-12 text-center my-3">
                    <h2 class="display-5 mb-4 text-danger">LES DROGUES : UN GUIDE COMPLET</h2>
                    <p class="lead mb-4">Plongez dans le monde complexe des substances psychoactives. Que vous soyez à la recherche d'informations pour mieux comprendre les différents types de drogues ou que vous souhaitiez en apprendre davantage sur leurs effets, ce guide vous fournira une vue d'ensemble des diverses catégories. Chaque type de drogue a ses propres caractéristiques, usages, et impacts, que ce soit sur le corps ou l'esprit.</p>
                    <h3 class="display-6 mb-3 text-secondary">Voici tous les types de drogues :</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <h4 class="mb-3">Stimulants : Énergisez Votre Esprit</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none text-dark d-block p-3 drug-link">Stimulants</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none text-dark d-block p-3 drug-link">Drogues psychostimulantes</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Calmants : Retrouver la Sérénité</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none text-dark d-block p-3 drug-link">Déprimants</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none text-dark d-block p-3 drug-link">Drogues anxiolytiques</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Hallucinogènes : Voyage au Coeur de la Perception</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none text-dark d-block p-3 drug-link">Hallucinogènes</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none text-dark d-block p-3 drug-link">Cannabinoïdes</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Synthétiques et Inhalées : Les Nouveaux Horizons</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none text-dark d-block p-3 drug-link">Drogues de synthèse</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none text-dark d-block p-3 drug-link">Drogues inhalées</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


