<div class="container" id="drogues">
    <div class="row">
        <div class="col-12 text-center my-5">
            <h2 class="display-5 mb-4 text-danger">LES DROGUES : UN GUIDE COMPLET</h2>
            <p class="lead mb-4">Plongez dans le monde complexe des substances psychoactives...</p>
            <h3 class="display-6 mb-3 text-secondary">Voici tous les types de drogues :</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 col-12 mb-4">
            <h4 class="h5 h-md-4 mb-3">Les Stimulants : Énergisez Votre Esprit et votre âme</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#stimulant" class="text-decoration-none text-dark d-block p-3 drug-link">Stimulants</a>
                </li>
                <li class="list-group-item">
                    <a href="#stimulant" class="text-decoration-none text-dark d-block p-3 drug-link">Drogues
                        psychostimulantes</a>
                </li>
            </ul>
            <img src="https://images.pexels.com/photos/3707182/pexels-photo-3707182.jpeg?auto=compress&cs=tinysrgb&h=800&w=800"
                alt="Stimulants" class="img-fluid rounded shadow my-3">
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-4">
            <h4 class="h5 h-md-4 mb-3">Les Calmants : Retrouver la Sérénité et la paix intérieure</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#calmant" class="text-decoration-none text-dark d-block p-3 drug-link">Déprimants</a>
                </li>
                <li class="list-group-item">
                    <a href="#calmant" class="text-decoration-none text-dark d-block p-3 drug-link">Drogues
                        anxiolytiques</a>
                </li>
            </ul>
            <img src="https://images.pexels.com/photos/5699783/pexels-photo-5699783.jpeg?auto=compress&cs=tinysrgb&h=800&w=800"
                alt="Calmants" class="img-fluid rounded shadow my-3">
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-4">
            <h4 class="h5 h-md-4 mb-3">Les Hallucinogènes : Voyage au Coeur de la Perception</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#hallucinogène"
                        class="text-decoration-none text-dark d-block p-3 drug-link">Hallucinogènes</a>
                </li>
                <li class="list-group-item">
                    <a href="#hallucinogène"
                        class="text-decoration-none text-dark d-block p-3 drug-link">Cannabinoïdes</a>
                </li>
            </ul>
            <img src="https://media.istockphoto.com/id/1367822296/fr/photo/champignon-psilocybine-copelandia-champignons-magiques-hallucinog%C3%A8nes.jpg?b=1&s=612x612&w=0&k=20&c=ZY8ZmsChTNNClWjmt6F5iwoIWrOzm6jDBiG3E_F9eSI="
                alt="Hallucinogènes" class="img-fluid rounded shadow my-3">
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-4">
            <h4 class="h5 h-md-4 mb-3">Les Synthétiques et Inhalées : Les Nouveaux Horizons</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#synthèse" class="text-decoration-none text-dark d-block p-3 drug-link">Drogues de
                        synthèse</a>
                </li>
                <li class="list-group-item">
                    <a href="#synthèse" class="text-decoration-none text-dark d-block p-3 drug-link">Drogues
                        inhalées</a>
                </li>
            </ul>
            <img src="https://images.pexels.com/photos/3850688/pexels-photo-3850688.jpeg?auto=compress&cs=tinysrgb&h=800&w=800"
                alt="Synthétiques" class="img-fluid rounded shadow my-3">
        </div>
    </div>
    <hr>
</div>