<div class="bg-image d-flex justify-content-center align-items-center text-center">
    <div class="overlay"></div>
    <div class="content">
        <h1 class="display-1 animate__animated animate__fadeInDown">
            Bienvenue sur <span class="text-highlight">D<span style="color: white;">R</span>U<span style="color: white;">G</span>GGY.com</span>
        </h1>
        <p class="lead display-6 animate__animated animate__fadeInUp animate__delay-1s">
            Votre plateforme d'informations sur les drogues
        </p>
        <a href="#drogues" class="btn btn-lg btn-primary mt-4 animate__animated animate__zoomIn animate__delay-2s">
            Commencer à vous renseigner
        </a>
        
    </div>
</div>
