<div>
    <app-header></app-header>
    <app-main></app-main>
    <app-undermain></app-undermain>
    <div>
        <app-drug title="Drogue 1" description="Découvrez notre sélection d'images captivantes liées aux drogues, leur utilisation et leurs effets."></app-drug>

        <app-drug id="calmant"></app-drug>
        <app-drug id="hallucinogène"></app-drug>
        <app-drug id="synthèse"></app-drug>
    </div>

    <div class="container">
        <hr>
    </div>
    <app-alerte></app-alerte>
    <app-footer></app-footer>
</div>


